<!DOCTYPE html>
<html>

<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css" />
</head>

<body>
    <div class="container">

        <!-- LOGO -->
        <div class="row">
            <div class="col-lg d-none d-lg-block">
                <img src="/assets/images/logo.jpg" class="logo" alt="Logo">
            </div>
        </div>

        {% include navigation.html %}

        <!-- Main layout -->
        <div class="row mt-4 mb-4">
            {{ content }}

            <!-- Aside pannel -->
            <aside class="col col-lg-4 d-none d-lg-block">
                <div class="article-card p-4">
                    <header class="article-card-header text-center">
                        <h1 class="text-uppercase">O mnie</h1>
                    </header>
                    <div class="article-card-content text-justify">
                        <img src="/assets/images/me.jpg" class="img-fluid me-img"
                            alt="Przemysław Pogorzelec - zdjęcie profilowe">
                        <p class="pt-3">Niewielka porcja informacji o mnie: czym się interesuje o czym bede pisał itp.
                        </p>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>